<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    @{
        var bundleName = $"{ViewData["Entry"]}.bundle.js";
        IgnoreBody();
    }
    @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
    @functions{
        public string GetAntiXsrfRequestToken()
        {
            return Xsrf.GetAndStoreTokens(Context).RequestToken;
        }

        public object GetPageData()
        {
            if (ViewData.ContainsKey("PageData")) {
                return Json.Serialize(ViewData["PageData"]);
            }

            return "null";
        }
    }

    <script>
        var _PAGE_PROPERTIES = {
            csrfToken: "@GetAntiXsrfRequestToken()"
        };

        var _PAGE_DATA = @Html.Raw(@GetPageData());
    </script>

    <div class="app-mount-point"></div>

    <script src="~/js/@bundleName" asp-append-version="true"></script>
</body>
</html>
